.header {
  display: flex;
  justify-content: center;
  @include vertical-padding;
  @include horizontal-padding;

  .container {
    display: flex;
    gap: 4rem;
  }

  .info-bar {
    margin-top: 2rem;
    > * {
      display: flex;
      align-items: center;
    }
  }

  .crew {
    align-items: flex-start;
  }
}
