.header {
  display: flex;
  justify-content: center;
  @include vertical-padding;
  @include horizontal-padding;

  .info-bar {
    margin: 2rem 0 4rem;
    display: flex;
    gap: 2rem;
    align-items: center;
  }

  .container {
    display: flex;
    gap: 4rem;
  }
}
