.header {
  min-height: 100rem;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #000;
  @include vertical-padding;
  @include horizontal-padding;

  .heading {
    color: $heading-text-light;
  }

  .caption-text {
    color: $heading-text-light;
  }

  .body-text {
    color: $body-text-light;
  }

  .container {
    position: relative;
    display: flex;
    align-items: flex-start;
    gap: 4rem;
  }

  .info-bar {
    margin-top: 2rem;

    .body-text {
      margin: 0;
      color: $heading-text-light;
    }

    .navigation__item::after {
      color: $heading-text-light;
    }

    > * {
      display: flex;
      align-items: center;
    }
  }

  .vote {
    display: flex;
    align-items: center;
    gap: 1rem;

    .heading {
      margin: 0;
    }

    .vote-count-percentage {
      position: relative;
      top: 0;
      left: 0;

      svg {
        position: relative;
        width: 7.5rem;
        height: 7.5rem;

        & circle {
          stroke-width: 4;
        }
      }

      .number {
        font-size: calc(1.6rem * 1.5);

        sup {
          font-size: calc(0.8rem * 1.5);
        }
      }
    }
  }

  .crew {
    margin: 8rem 0 4rem;
    align-items: flex-start;

    .profile {
      min-width: 26rem;
      max-width: 40rem;
      margin: 0;
      align-items: flex-start;
      gap: 1rem;

      a.heading {
        margin-bottom: 1rem;
        transition: color 0.3s ease-out;

        @media (hover: hover) {
          &:hover {
            color: $accent-color;
          }
        }
      }

      .body-text {
        font-size: $small-font-size;
        line-height: 1.2;
      }

      .jobs {
        max-width: 30rem;
        margin: 0;
        gap: 5px;

        .body-text {
          margin: 0;
        }

        > *:not(:last-child)::after {
          content: ",";
        }
      }
    }

    .image-component {
      width: 5rem;
      height: 5rem;
      object-fit: cover;
      border-radius: 50%;
    }
  }
}
