.article__reviews {
  .reviews {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(40rem, 1fr));
    gap: 1rem;

    @media (max-width: 1000px) {
      grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    }
  }
}
