.images {
  &__scroll {
    @include scroll-x;

    .img {
      @include hover-image;
    }
  }

  &__list {
    @include cards-grid;
    gap: 1rem;

    .img {
      width: 100%;
      @include hover-image;
    }

    .image-component {
      width: 100%;
      height: auto;
    }

    .body-text {
      grid-column: 1/ -1;
    }
  }
}
