.article {
  width: 100%;
  display: flex;
  justify-content: center;
  border: 2px solid red;

  &.horizontal-padding {
    @include horizontal-padding;
  }
}

@import './article-videos';
@import './article-reviews';
