.review {
  padding: 4rem 2rem;
  border-radius: 1rem;
  background-color: #fff;
  box-shadow: 0 0 20px rgba(#000, 0.1);
  height: max-content;
  min-height: 33rem;

  .review-heading {
    margin: 0 0 2rem;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
  }

  .heading {
    margin: 0;
    -webkit-line-clamp: 1;
    color: $heading-text-dark;
  }

  .small-text {
    margin-top: 5px;
    color: $body-text-dark;
  }

  .star-rating {
    display: block;
    margin: 2rem 0;
  }

  .expandable-text {
    color: $body-text-dark;
  }
}
