.images {
  &__scroll {
    width: 100%;
    display: flex;
    gap: 1rem;

    @include scroll-x;
  }

  &__list {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(40rem, 1fr));
    gap: 1rem;

    .img {
      width: 100%;

      .image-component {
        width: 100%;
        height: auto;
      }
    }

    .body-text {
      grid-column: 1/ -1;
    }
  }
}
