.episode {
  .wrapper {
    margin: 0;
  }

  .image-component {
    width: 100%;
    height: auto;
  }

  .content {
    padding: 2rem;
  }

  .episode-header {
    justify-content: space-between;
    row-gap: 0;

    > * {
      margin-bottom: 1rem;
    }
  }

  .heading {
    color: $heading-text-dark;
  }

  .body-text,
  .small-text {
    color: $body-text-dark;
  }

  .episode-date {
    margin-bottom: 4rem;
  }

  .episode-votes {
    gap: 1rem;
  }

  .episode-vote-count {
    margin: 0;
  }
}
