.section {
  &__heading {
    display: flex;
    align-items: center;
    justify-content: space-between;

    > * {
      margin: 0;
    }
  }

  &__content {
    padding: 2rem 0;
    display: none;
  }

  &.active {
    .section__content {
      display: flex;
      flex-direction: column;
      gap: 1rem;
    }

    .btn--close {
      transform: rotate(180deg);
    }
  }
}
