.buttons {
  margin-top: 4rem;
}

.btn {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;

  font-family: "Montserrat", sans-serif;
  text-transform: capitalize;
  font-size: 2rem;
  font-weight: 500;

  padding: 1.6rem 3.2rem;
  border: none;
  white-space: nowrap;

  cursor: pointer;
  transition: color 0.3s, background-color 0.3s, border-color 0.3s;

  &--primary {
    background-color: $accent-color;
    color: $heading-text-light;
  }

  &--secondary {
    border: 1px solid $accent-color;
    background-color: transparent;
  }

  &--tertiary {
    background-color: transparent;
    padding: 0;

    .qty {
      display: block;
      width: 3rem;
      height: 3rem;
      font-size: 1.5rem;
      color: #000;
      background-color: $grey-color;
      border-radius: 50%;
      display: grid;
      place-content: center;
    }

    &.active {
      .qty {
        background-color: $accent-color;
        color: #fff;
      }
    }

    @media (hover: hover) {
      &:hover {
        color: $accent-color;
      }
    }
  }
}
