.buttons {
  margin-top: 4rem;
}

.btn {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;

  font-family: 'Montserrat', sans-serif;
  text-transform: capitalize;
  font-size: 1.6rem;
  font-weight: 500;

  width: max-content;
  padding: 1.6rem 3.2rem;
  border: none;
  white-space: nowrap;

  cursor: pointer;
  transition: color 0.3s, background-color 0.3s, border-color 0.3s;

  &--primary {
    background-color: $accent-color;
    color: $heading-text-light;
  }

  &--secondary {
    border: 1px solid $accent-color;
    background-color: transparent;
    color: $heading-text-dark;
  }

  &--tertiary {
    background-color: transparent;
    padding: 0;
    color: $heading-text-dark;
    .qty {
      display: block;
      width: 3rem;
      height: 3rem;
      font-size: 1.5rem;
      color: #000;
      background-color: $grey-color;
      border-radius: 50%;
      display: grid;
      place-content: center;
    }

    &.active {
      .qty {
        background-color: $accent-color;
        color: #fff;
      }
    }

    @media (hover: hover) {
      &:hover {
        color: $accent-color;
      }
    }
  }

  &__toggle-group {
    width: 100%;
    padding: 0;
    display: flex;
    justify-content: space-between;

    .name {
      font-weight: 400;
      color: $body-text-dark;
      font-size: $base-font-size;
    }
  }

  &__toggle {
    position: relative;
    width: 5.4rem;
    height: 3rem;
    border-radius: 4rem;
    background-color: $grey-color;
    transition: background-color 0.4s;

    .switch {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: 0.3rem;
      width: 2.4rem;
      height: 2.4rem;
      background-color: #fff;
      border-radius: 50%;
      transition: left 0.4s;
    }

    &.active {
      background-color: $accent-color;
      .switch {
        left: 50%;
      }
    }
  }
}
