.searchbar {
  justify-self: flex-end;
  position: relative;
  width: 4rem;
  max-width: 80rem;
  height: 4rem;
  padding: 0;
  background-color: #fff;
  border-radius: 4rem;
  font-size: 2rem;
  cursor: pointer;
  transition: padding 0.3s ease-in-out, width 0.3s ease-in-out;

  &__input {
    display: none;
    width: 100%;
    border: none;
    background-color: transparent;
    font-size: $base-font-size;

    &:focus {
      outline: none;
    }
  }

  &__icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    width: 4rem;
    height: 4rem;
    display: grid;
    place-content: center;
  }

  &__close {
    display: none;
  }

  &.active {
    width: 100%;
    padding: 1rem 4rem;

    .searchbar__close {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: 0;
      width: 4rem;
      height: 4rem;
      display: grid;
      place-content: center;
    }

    .searchbar__input {
      display: block;
    }
  }
}
