.card {
  min-width: 35rem;
  scroll-snap-align: start;
  background-color: $grey-color;

  @media (max-width: $laptop) {
    min-width: 25rem;
  }
  @media (max-width: $tablet) {
    min-width: 20rem;
  }

  img {
    width: 100%;
    height: auto;
  }

  .content {
    padding: 1.6rem;
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
  }

  .heading--h4 {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 1.8rem;
    color: $heading-text-dark;
  }

  .body-text {
    color: $body-text-dark;
  }
}
