.card {
  @include hover-image;

  .content {
    position: relative;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;

    &:has(.vote-count-percentage) {
      padding: 4rem 2rem 2rem;
    }
  }

  .heading {
    margin: 0;
  }

  .heading--h4 {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    color: $heading-text-dark;
  }

  .body-text,
  .small-text {
    margin: 0;
    color: $body-text-dark;
  }
}
