.cards {
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
  padding: 4rem 0;
  display: flex;
  gap: 1rem;

  @media (max-width: $mobile) {
    gap: 0.5rem;
  }

  @include scrollbar;

  @media (max-width: $tablet) {
    padding: 0;
    @include scrollbar-hidden;
  }
}
