.cards {
  position: relative;
  @include column-gap;

  &__scroll-x {
    display: flex;
    @include scroll-x;

    @media (max-width: $tablet) {
      padding: 0;
      @include scrollbar-hidden;
    }

    .card {
      min-width: 35rem;
      max-width: 35rem;
    }
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(35rem, 1fr));
    row-gap: 4rem;

    @media (max-width: $laptop) {
      grid-template-columns: repeat(auto-fill, minmax(24rem, 1fr));
    }

    @media (max-width: $tablet) {
      grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
    }

    @media (max-width: $mobile) {
      grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
    }
  }
}
