.cards-scroll-x {
  position: relative;
  display: flex;

  @include scroll-x;
  @include column-gap;

  @media (max-width: $tablet) {
    padding: 0;
    @include scrollbar-hidden;
  }

  .card {
    min-width: 35rem;
    max-width: 35rem;
  }
}
