.mobile-sidebar-filters-menu {
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
  position: fixed;
  top: 7rem;
  left: -100%;
  width: 100%;
  max-width: 30rem;
  height: 100%;
  background-color: #fff;
  overflow-y: scroll;
  @include scrollbar-hidden;
  z-index: 100;
  padding: 4rem 2rem;
  transition: left 0.3s ease-in-out;
  box-shadow: 5px 0 20px rgba(black, 0.2);
  @media (max-width: 1150px) {
    &.active {
      left: 0;
    }
  }

  .heading--h4 {
    height: 3rem;
    margin: 0;
  }

  .btn--secondary {
    position: absolute;
    top: 4rem;
    right: 2rem;
    padding: 0;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    background-color: black;
    border: none;
    color: #fff;

    @media (hover: hover) {
      &:hover {
        background-color: $red-color;
      }
    }
  }

  &__content {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 3rem;
  }

  .btn--close {
    display: grid;
    place-content: center;
    border-radius: 50%;
    padding: 0;
    height: 3rem;
    width: 3rem;
  }
}
