.layout {
  display: grid;
  gap: 4rem;

  &.grid {
    &--sidebar {
      grid-template-columns: 30rem 1fr;

      @media (max-width: 1150px) {
        grid-template-columns: 1fr;
      }
    }
  }

  &.left-sidebar {
    grid-template-columns: 30rem 1fr;

    @media (max-width: 1150px) {
      grid-template-columns: 1fr;
    }
  }
}
