.layout {
  &.grid {
    display: grid;
    gap: 4rem;

    &--sidebar {
      grid-template-columns: 30rem 1fr;

      @media (max-width: $tablet) {
        grid-template-columns: 1fr;
      }
    }
  }
}
