.wrapper {
  margin: 4rem 0;

  &.block {
    display: block;
  }

  &.flex {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 4rem;
  }

  &.grid {
    display: grid;
  }

  &.scroll {
    display: flex;
    align-items: center;
    gap: 4rem;

    @include scroll-x;
  }
}
