.wrapper {
  margin: 4rem 0;
  width: 100%;

  &.block {
    display: block;
  }

  &.flex {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 4rem;
  }

  &.grid {
    display: grid;
  }

  &.scroll {
    display: flex;
    align-items: center;
    gap: 4rem;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    white-space: nowrap;

    & > * {
      scroll-snap-align: start;
    }

    @media (max-width: $tablet) {
      @include scrollbar-hidden;
    }
  }
}
