.navigation {
  &__list {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    &.horizontal {
      flex-direction: row;
      gap: 2rem;
    }

    &.comma-separated {
      flex-direction: row;
      flex-wrap: wrap;
      gap: 5px;
      row-gap: 1rem;

      .navigation__item {
        min-width: max-content;
        &:not(:last-child)::after {
          content: ",";
          font-size: $base-font-size;
        }
      }
    }
  }

  &__link {
    text-transform: capitalize;
    font-size: $base-font-size;
    font-weight: 300;
    transition: color 0.3s ease-out;
  }
}
