.navbar {
  width: 100%;
  background-color: $primary-color;
  position: sticky;
  top: 0;

  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
  @include horizontal-padding;
  z-index: 100;

  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 4rem;
  }

  &__logo {
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: $base-font-size;
    font-weight: 600;
    color: $heading-text-light;

    svg {
      display: grid;
      place-content: center;
      width: 3rem;
      height: 3rem;
      fill: $accent-color;
    }
  }

  .controls {
    display: flex;
    align-items: center;
    gap: 2rem;
  }

  .navigation {
    @media (max-width: $tablet) {
      display: none;
    }

    &__link {
      color: $heading-text-light;

      @media (hover: hover) {
        &:hover {
          color: $accent-color;
        }
      }
    }
  }

  .mobile-menu-icon {
    display: none;
    @media (max-width: $tablet) {
      display: flex;
    }
  }
}
