.statistics {
  display: flex;
  align-items: center;
  @include horizontal-padding;
  background-color: $grey-color;

  .container {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 4rem;

    @media (max-width: 970px) {
      flex-direction: column;
      gap: 0;
    }
  }

  .stats {
    flex-grow: 2;
    .body-text {
      margin: 0;
    }
  }

  .social-icons {
    justify-content: flex-end;
    gap: 2rem;
    svg {
      fill: $heading-text-dark;
      width: 3rem;
      height: 3rem;
    }
  }
}
