.statistics {
  display: flex;
  align-items: center;
  justify-content: center;
  @include horizontal-padding;
  background-color: $grey-color;

  .container {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
  }

  .stats {
    .body-text {
      margin: 0;
    }
  }
  .social-icons {
    justify-content: flex-end;
    svg {
      fill: $heading-text-dark;
      width: 3rem;
      height: 3rem;
    }
  }
}
