.statistics {
  display: flex;
  align-items: center;
  justify-content: center;
  @include horizontal-padding;
  color: #fff;
  background-color: $accent-color;

  .container {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
  }

  .stats {
  }
  .social-icons {
    justify-content: flex-end;
    svg {
      fill: #fff;
      width: 4rem;
      height: 4rem;
    }
  }
}
