.mobile-sidebar-controls {
  margin-bottom: 2rem;

  &__settings {
    width: max-content;
    display: flex;
    align-items: center;
    padding: 1rem 2rem;
    background-color: $grey-color;
    border: 1px solid $grey-color;
    gap: 5px;
    cursor: pointer;

    @media (hover: hover) {
      &:hover {
        border-color: $input-border-color;
      }
    }
  }

  svg {
    width: $base-font-size;
    height: $base-font-size;
  }

  .body-text {
    margin: 0;
  }

  @media (min-width: 1151px) {
    display: none;
  }
}
