.sub-navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  padding: 1rem;
  @include horizontal-padding;
  color: $heading-text-dark;
  white-space: nowrap;

  .container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 2rem;
  }

  .btn--secondary {
    width: 3rem;
    min-width: 3rem;
    aspect-ratio: 1/1;
    border-radius: 50%;
    display: grid;
    place-content: center;
    padding: 0;
  }

  .navigation {
    overflow: hidden;
    &__list {
      @media (max-width: $tablet) {
        @include scroll-x;
      }
    }

    &__item {
      margin: 0;
    }

    &__link {
      min-width: max-content;
      color: $heading-text-dark;

      @media (hover: hover) {
        &:hover {
          color: $accent-color;
        }
      }
    }
  }
}
