.sub-navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $grey-color;
  padding: 1rem;
  @include horizontal-padding;
  color: $heading-text-dark;
  white-space: nowrap;

  .container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 2rem;
  }

  .navigation {
    @media (max-width: $tablet) {
      @include scroll-x;
    }
    &__link {
      min-width: max-content;
      color: $heading-text-dark;

      @media (hover: hover) {
        &:hover {
          color: $accent-color;
        }
      }
    }
  }
}
