.sidebar {
  width: 100%;
  max-width: 30rem;

  &__content {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  .btn--close {
    display: grid;
    place-content: center;
    border-radius: 50%;
    padding: 0;
    height: 3rem;
    width: 3rem;
  }

  .navigation {
    margin-top: 2rem;
    &__link {
      color: $heading-text-dark;
    }
  }

  .buttons {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  @media (max-width: 1150px) {
    display: none;
  }
}
