.sidebar {
  position: sticky;
  top: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  border:1px solid $grey-color;
  box-shadow: 0 0 10px rgba(0,0,0,.1);
  padding:2rem;

  .navigation{

    &__link{
      color:$heading-text-dark;

    }
  }

  @media (max-width: $tablet) {
    display: none;
  }
}
