.sidebar {
  width: 100%;
  max-width: 30rem;
  height: calc(100vh - 7rem);
  overflow-y: scroll;
  @include scrollbar-hidden;

  .heading--h4 {
    margin: 0;
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    padding: 3rem 2rem;
    border: 1px solid $grey-color;
    border-radius: 5px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  }

  .btn--close {
    display: grid;
    place-content: center;
    border-radius: 50%;
    padding: 0;
    height: 3rem;
    width: 3rem;
  }

  .navigation {
    margin-top: 2rem;
    &__link {
      color: $heading-text-dark;
    }
  }

  .buttons {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  @media (max-width: 1150px) {
    display: none;
  }
}
