@mixin horizontal-padding {
  padding-left: 4.8rem;
  padding-right: 4.8rem;

  @media (max-width: $tablet) {
    padding-left: 3.2rem;
    padding-right: 3.2rem;
  }
  @media (max-width: $mobile) {
    padding-left: 1.6rem;
    padding-right: 1.6rem;
  }
}
