@mixin scroll-x {
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
  flex-wrap: nowrap;
  @include scrollbar;

  & > * {
    margin-bottom: 2rem;
    scroll-snap-align: start;

    @media (max-width: $tablet) {
      margin: 0;
    }
  }

  @media (max-width: $tablet) {
    @include scrollbar-hidden;
  }
}
