@mixin scroll-x {
  width: 100%;
  display: flex;
  gap: 1rem;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
  flex-wrap: nowrap;
  @include scrollbar;

  .img,
  .card {
    min-width: 30rem;
    max-width: 30rem;
  }

  & > * {
    margin-bottom: 2rem;
    scroll-snap-align: start;

    @media (max-width: $tablet) {
      margin: 0;
    }
  }

  @media (max-width: $tablet) {
    @include scrollbar-hidden;
  }
}
