@mixin vertical-padding {
  padding-top: 8rem;
  padding-bottom: 8rem;

  @media (max-width: $tablet) {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }
  @media (max-width: $mobile) {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
}
