.collection {
  display: grid;
  place-content: center;
  @include horizontal-padding;
  @include vertical-padding;
  position: relative;
  background-color: $primary-color;
  min-height: 50rem;
  color: #fff;

  .container {
    position: relative;
    text-align: center;
    z-index: 10;
  }

  .btn {
    margin-top: 4rem;
    display: inline-block;
    max-width: max-content;
  }
}
