$page-width: 1920px;

// Screens
$laptop: 1024px;
$tablet: 820px;
$mobile: 450px;
$small-mobile: 350px;

// Font Sizes
$h1-font-size: clamp(3.3rem, 3.5vw, 6.6rem);
$h2-font-size: clamp(1.8rem, 3vw, 3.2rem);
$h3-font-size: clamp(1.6rem, 3vw, 2.6rem);
$h4-font-size: clamp(1.6rem, 3vw, 1.8rem);
$h5-font-size: 1.6rem;
$base-font-size: clamp(1.6rem, 3vw, 1.8rem);
$small-font-size: 1.4rem;

// Colors
$heading-text-dark: hsl(0, 0%, 10%);
$heading-text-light: hsl(0, 0%, 95%);
$body-text-dark: rgba($heading-text-dark, 0.7);
$body-text-light: rgba($heading-text-light, 0.7);
$grey-color: hsl(0, 0%, 95%);
$input-border-color: hsl(0, 0%, 46%);
$primary-color: hsl(207, 91%, 13%);
$accent-color: hsl(193, 100%, 45%);
$red-color: hsl(0, 100%, 50%);
