// Screens
$laptop: 1024px;
$tablet: 820px;
$mobile: 450px;

// Font Sizes
$h1-font-size: 4.4rem;
$h2-font-size: 3.6rem;
$h3-font-size: 2.8rem;
$h4-font-size: 2rem;
$base-font-size: 2rem;
$small-font-size: 1.6rem;

// Colors
$heading-text-dark: hsl(0, 0%, 10%);
$heading-text-light: hsl(0, 0%, 95%);
$body-text-dark: rgba($heading-text-dark, 0.7);
$body-text-light: rgba($heading-text-light, 0.7);
$grey-color: hsl(0, 0%, 95%);
$accent-color: crimson;
